*{
    padding: 0;
    margin: 0;
}
.peliculas{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.uno{
    border-style: dashed;
    border-color: aquamarine;
    border-radius: 50px;
}