h1{
    background-color: aquamarine;
}
.textoalineado {
    text-align: center;
}
#fondo{
    background-color: red;
}
ol,ul{
    list-style-type: none;
}
.borderpunteado{
    border: 10px;
    border-style: dotted;
    border-color: blue;

}