*{
    margin: 0;
    padding: 0;
}
h1{
   background-color: brown;
   border-style: dotted;
   border-width: 6px;
   border-color: black;
    padding: 60px;
    margin: 9px;
    width: 60px;
    height: 60px;
    overflow: auto; /*esto permite que las palabras (o cualquier otra cosa) fuera del cuadrado queden dentro" */
    font-family: cursive;
    font-weight: 9px;
    font-size: 50px;
    text-align: center;
}
header{
    background-color: blue;
}
p{
    font-family: cursive;
}
.cuadrado {
    background-color: blue;
    width: 60px;
    height: 60px;
    margin: 5px;
    display: inline-block;
}